<div class="row">
  <div class="card">
    <div class="card-action right blue lighten-4">
      <%= Time.now.strftime("%H:%M") %>
    </div>

    <div class="card-content blue lighten-4">
      <div class="card-title">
        <h6><%= dp.journey_start %></h6>
        <i class="small material-icons">arrow_forward</i>
        <h6><%= dp.journey_end %></h6>
      </div>
    </div>
  </div>
</div>

<table class="striped">
  <thead>
    <tr>
      <th>in (minutes)</th>
      <th>Route</th>
      <th>Should arrive at</th>
    </tr>
  </thead>
  <tbody>
    <% dp.departures.each do |d| %>
      <% arrival = d.expected_arrival.strftime("%H:%M") %>
      <tr>
        <td><%= d.expected_in %></td>
        <td>
          <a class="blue lighten-4 btn-flat">
            <%= d.route_number %>
          </a>
          <% if d.express? then %>
            <span class="new badge red" data-badge-caption="<%= d.route_type %>"></span>
          <% else %>
            <span class="new badge" data-badge-caption="<%= d.route_type %>"></span>
          <% end %>
        </td>
        <td><%= arrival %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <a href="/to_tenjin">Home to Tenjin</a>
  &nbsp;
  <a href="/from_tenjin">Tenjin to Home</a>
</p>
